.ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Creates four columns */
  gap: 20px; /* Sets the gap between cards */
  list-style-type: none;
  padding: 0;
  margin: 0 auto; /* Centers the grid */
}

.li {
  /* Existing styles for each contact card */
  border: 1px solid chartreuse;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 860px) {
  .ul {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 860px) {
  .ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1500px) {
  .ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
