/* .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  font-weight: 500;
  font-size: 48;
  text-align: center;
} */
.div {
  display: flex;
  align-items: flex-start;
  color: #8a8ab7;
}
